#chat-container {
    display: grid;
    justify-content: start;
    margin: 20px 100px;
    grid-template-columns: 90% 10%;
    grid-template-rows: 90% 5% 5%;
}

#messages-container {
    grid-column: 1/3;
    grid-row: 1;
    min-height: 100%;
    display: flex;
    flex-direction: column-reverse;
    border: 1px solid #555555;
    border-bottom: 0px;
    border-radius: 5px;
    

}

#messages-container > div {
    width: 100%;
    display: inline-flex;
}

#messages-container #mes2 {
    justify-content: end;
}

#message-box {
    grid-column: 1;
    grid-row: 2/4;
}

#send-message-button {
    grid-column: 2;
    grid-row: 2;
}

#send-location-button {
    grid-column: 2;
    grid-row: 3;
}

button > span {
    display: inline-block;
}

.loader {
    border: 2px solid #f3f3f3; 
    border-top: 2px solid #555555; 
    border-radius: 50%;
    width: 10px;
    height: 10px;
    animation: spin 2s linear infinite;
    display: none;
    margin-right: 5px;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }